<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenhao.mybatisserach.dao.IProductMapper">

    <select id="getAll" parameterType="com.wenhao.mybatisserach.query.ProductQuery" resultType="com.wenhao.mybatisserach.domain.Product">
        SELECT * FROM t_product ${querySql}
    </select>

    <select id="queryPage" parameterType="com.wenhao.mybatisserach.query.ProductQuery"  resultType="com.wenhao.mybatisserach.domain.Product">
        SELECT * FROM t_product ${querySql} LIMIT #{startIndex},#{pageSize}
    </select>
    <select id="totalCount"  parameterType="com.wenhao.mybatisserach.query.ProductQuery" resultType="int">
        SELECT COUNT(*) FROM t_product ${querySql}
    </select>
</mapper>